
@media screen and (max-width: 450px) {

    body {
        margin: 0;
    }

    blockquote {
      margin: 5px !important;
      padding: 10px 20px 10px 20px !important;
    }

}

  body {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 16px;
      background-color: #f0f0f0;
  }
  
  h1 {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    background: #C10828;
    color: #fff;
    padding: 30px 20px 40px 20px;
    border-top: 2px solid #203B80;
    border-bottom: 2px solid #203B80;
  }
  
  h2 {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;  
    font-size: 2em;
    color: #fff;
    margin: 0;
    transform: skewX(-32deg);
  }
  
  li {
    font-size: 1.2em;
    line-height: 1.7em;
  }

  blockquote {
    background-color:	#b4ffff;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.7em;
  }
  
  footer {
    text-align: center;
  }
  
  #main {
    background: #fff;
    max-width: 1080px;
    width: 100%;
    margin: auto;
    padding: 10px 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    overflow: hidden;
  }
  
  #img-div {
    text-align: center;
    padding: 10px;
  }
  
  #image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
    border: 5px solid rgba(0,0,0, 0.3);
  }
  
  #img-caption {
    font-style: italic;
  }
  
  #stats-div {
    background: #203B80;
    border-top: 2px solid white;
    color: #fff;
    padding: 0px 0px 20px 20px;
  }
  
  #stats-title {
    background: #C10828;
    border: 2px solid white;
    padding: 10px 20px;
    transform: skewX(32deg);
    margin-top: -2px;
  }
  
  #stats-title:after {
    position: absolute;
    width: 44px;
    height: 60px;
    background-color: #C10828;
    content: "";
    right: -2px;
    top: 0px;
    transform: skewX(-32deg);
  }
  
  #awards-title {
    background: #203B80;
    border: 2px solid white;
    padding: 10px 20px;
    transform: skewX(32deg);
    margin-top: -2px;
  }
  
  #awards-title:after {
    position: absolute;
    width: 44px;
    height: 60px;
    background-color: #203B80;
    content: "";
    right: -2px;
    top: 0px;
    transform: skewX(-32deg);
  }
  
  #stats-list {
    list-style-type: none;
    padding-right: 20px;
  }
  
  #awards-div {
    background: #C10828;
    color: #fff;
    border-top: 2px solid white;
    padding: 0px 0px 20px 20px;
  }

  #awards-list {
    padding-right: 20px;
  }

  #author {
      font-weight: 700;
  }

  .stats {
    font-weight: 700;
  }
  


